<div class="new-page">
    <h2>Edit Book</h2>
    <form action="/books/<%= book.id %>?_method=PUT" method="POST">
        <%- include('_form_fields') %>
        <div class="new-page-submit">
            <a href="/books">Cancel</a>
            <button type="submit">Update</button>
        </div>
    </form>
</div>